.sde_workspace/
.venv/
.git/
__pycache__/
.django_tailwind_cli/
.github/
.*_cache/
.vscode/
.pre-commit-config.yaml
.python-version
AGENTS.md
README.md
env.template
.env*
compose.yml
justfile
mise.toml
*.log